.header {
    padding: 20px 60px;
    height: 80px;
    background-color: aqua;
    display: flex;
    color: white;

    justify-content: space-between;
    align-items: center;

    .header-logo {
        font-size: 32px;
    }

    .header-link {
        ul {
            li {
                margin-left: 70px;
                float: left;
                text-decoration: none;
                font-size: 20px;

                a {
                    text-decoration: none;
                    color: white;
                }
            }
        }
    }

    .header-hamburger {
        display: none;
        font-size: 30px;
        padding: 10px 20px;
    }
}

.main {
    padding: 100px 60px;

    h2 {
        font-size: 70px;
        margin-bottom: 70px;
    }

    p {
        font-size: 30px;
        font-weight: 300;
        line-height: 50px;
        margin-bottom: 60px;
    }

    .btn {
        text-align: center;
        width: 200px;
        padding: 20px 40px;
        background-color: #006eff;
        border: 2px solid transparent;
        transition: all ease 0.6s;

        a {
            color: white;
            text-decoration: none;
        }

        &:hover {
            background-color: transparent;
            border: 2px solid #454545;

            a {
                color: #454545;
            }
        }
    }
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    box-sizing: border-box;
    background-color: #454545;
    height: 80px;

    .footer-logo {
        font-size: 32px;
    }

    p {
        color: #fff;
    }
}

// Responsive smartphone
@media (max-width: 670px) {
    .header {
        .header-logo {
            text-align: center;
        }

        .header-link {
            display: none;
        }

        .header-hamburger {
            display: block;
        }
    }

    .footer {
        justify-content: center;

        .footer-logo {
            display: none;
        }
    }
}